<div>
  {{title}}
</div>

<div>
  <button mat-raised-button (click)="startOnDemandScan()">Start On-Demand Scan</button>
  <button mat-raised-button (click)="stopOnDemandScan()">Stop On-Demand Scan</button>
  <button mat-raised-button (click)="activateRealTimeScan()">Activate Real-Time Scan</button>
  <button mat-raised-button (click)="deactivateRealTimeScan()">Deactivate Real-Time Scan</button>
  <button mat-raised-button (click)="getEventLog()">Get Event Log</button>
</div>

<select id="dropdown" style="width: 2.5%;" (change)="setPauseOption($event.target)">
    <option [value]="option" *ngFor="let option of pauseOptions" >{{ option }}</option>
</select>